---
name: CI

on:
  push:
  pull_request:
    branches: 
    - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  megalinter:
    name: Run linters
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: MegaLinter
        id: ml
        uses: oxsecurity/megalinter@v7
        env:
          VALIDATE_ALL_CODEBASE: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
  project_checks:
    name: Run project checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up poetry and install
        uses: ./.github/actions/setup-poetry

      - name: Pre-commit install
        run: make pre-commit
      
      - name: Run linting checks
        run: make lint
      
      - name: Run security checks
        run: make security-check
      
      - name: Check dependencies
        run: make dep-cve-check

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v4
      
      - name: Set up poetry and install
        uses: ./.github/actions/setup-poetry
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: make test
